{% extends "core/base.html" %}

{% block content %}

<h1 class="mb-4">
    🏢 Finans Paneli
</h1>

<!-- 1. SATIR -->

<div class="row g-3">

    <div class="col-6 col-md-4">
        <div class="card bg-success text-white shadow-lg border-0 h-100">
            <div class="card-body text-center">
                <h6>🏢 Toplam Malik</h6>
                <h2>{{ toplam_malik }}</h2>
            </div>
        </div>
    </div>

    <div class="col-6 col-md-4">
        <div class="card bg-danger text-white shadow-lg border-0 h-100">
            <div class="card-body text-center">
                <h6>🔴 Borçlu Malik</h6>
                <h2>{{ borclu_sayisi }}</h2>
            </div>
        </div>
    </div>

    <div class="col-12 col-md-4">
        <div class="card border-info shadow-lg h-100">
            <div class="card-body text-center">

                <h6 class="text-muted">
                    🏗️ Devlet Hakedişi
                </h6>

                <h3 class="fw-bold text-info">
                    {{ toplam_hakedis_fmt }} ₺
                </h3>

            </div>
        </div>
    </div>

</div>

<!-- 2. SATIR -->

<div class="row g-3 mt-1">

    <div class="col-6 col-md-4">
        <div class="card bg-success text-white shadow-lg border-0 h-100">
            <div class="card-body text-center">

                <h5 class="fw-bold">
                    💰 GELİR
                </h5>

                <small style="font-size:11px;">
                    Malik Ödemeleri + Devlet Hakedişleri
                </small>

                <h2 class="fw-bold mt-2 text-nowrap">
                    {{ toplam_gelir_fmt }} ₺
                </h2>

            </div>
        </div>
    </div>

    <div class="col-6 col-md-4">
        <div class="card bg-danger text-white shadow-lg border-0 h-100">
            <div class="card-body text-center">
                <h5 class="fw-bold">📉 Toplam Gider</h5>
                <h3 class="text-nowrap">
                    {{ toplam_gider_fmt }} ₺
                </h3>
            </div>
        </div>
    </div>

    <div class="col-12 col-md-4">
        <div class="card border-danger border-3 shadow-lg h-100">
            <div class="card-body text-center">
                <h5>📌 Toplam Borçlar</h5>
                <h3 class="text-danger text-nowrap">
                    {{ toplam_dis_borc_fmt }} ₺
                </h3>
            </div>
        </div>
    </div>

</div>

<!-- 3. SATIR -->

<div class="row g-3 mt-3">

    <div class="col-12">

        <div class="card bg-dark text-white shadow-lg border-0">

            <div class="card-body text-center py-4">

                <h4 class="fw-bold">
                    🏦 GENEL KASA
                </h4>

                <h1 class="fw-bold">
                    {{ aidat_kasasi_fmt }} ₺
                </h1>

            </div>

        </div>

    </div>

</div>


{% endblock %}